<div class="d-flex flex-direction-column align-items-center justify-content-center">
    <div class=" p-4 rounded mt-5 align-self-center">
        <div class="d-flex flex-direction-row m-2">
            <div class="col-md-10">
                <div class="input-group rounded my-2">
                    <input
                        type="search"
                        class="form-control rounded"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="search-addon"
                        [(ngModel)]="query"
                        (ngModelChange)="search()"
                    >
                    <span
                        class="input-group-text border-0"
                        id="search-addon"
                    >
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div class="input-group rounded">
                    <select
                        class="browser-default custom-select"
                        (change)="sortData($event)"
                    >
                        <option selected>Select Sorting</option>
                        <option
                            *ngFor="let item of sorting"
                            [value]="item.value"
                        >
                            {{item.label}}
                        </option>

                    </select>
                    <span
                        class="input-group-text border-0"
                        id="search-addon"
                    >
                        <i class="fas fa-sort-amount-up-alt"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <button
                    type="button"
                    class="btn btn-primary btn-floating"
                    mdbRipple
                    [routerLink]="'/admin/form/'"
                >
                    <i class="fas fa-plus"></i>
                </button>
            </div>

        </div>

        <div class="m-2 border">

            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Employee</th>
                        <th>Group</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of (list_employees | async |slice:((page*limit) - limit):(page*limit) | search: query); let i=index " >
                        <td [routerLink]="'/admin/'+ employee.id" role="button">
                            <div class="d-flex align-items-center">
                                <img
                                    src="./assets/images/account.png"
                                    alt
                                    style="width: 55px; height: 45px"
                                    class="rounded-circle"
                                >
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">
                                        #{{i+1}} - {{employee.firstName}} {{employee.lastName}}
                                    </p>
                                    <p class="text-muted mb-0">{{employee.email}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{employee.group}}</p>
                        </td>
                        <td >
                            <span
                                class="badge badge-success rounded-pill d-inline  px-2"
                                *ngIf="employee.status.toLowerCase() == 'active'"
                            >
                                {{employee.status}}
                            </span>
                            <span
                                class="badge badge-warning rounded-pill d-inline px-2 "
                                *ngIf="employee.status.toLowerCase() == 'inactive'"
                            >
                                {{employee.status}}
                            </span>
                        </td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-block btn-warning btn-sm btn-rounded "
                                [routerLink]="'/admin/form/'+ employee.id"
                            >
                                Edit
                            </button>
                            <button
                                (click)="deleteEmployee(employee.id)"
                                type="button"
                                class="btn btn-block btn-danger btn-sm btn-rounded "
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m-2 d-flex justify-content-center">
            <div class="input-group rounded col-md-6 col-sm-12">
                <label for="limit" class="justify-content-center my-2">data per page</label>
                <select
                    class="browser-default custom-select mx-2"
                    (change)="setLimit($event)"
                >
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>

                </select>

            </div>
        </div>
        <div class="m-2 d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item ">
                        <button
                            class="page-link"
                            tabindex="-1"
                            [disabled]="page < 2"
                            (click)="changePage(page - 1)"
                        >
                            <<
                        </button>
                    </li>

                    <li
                        class="page-item mx-1"
                        [ngClass]="p == page ? 'active': ''"
                        aria-current="page"
                        *ngFor="let p of pages"
                    >
                        <button
                            class="page-link"
                            (click)="changePage(p)"
                        >
                            {{p}}
                        </button>
                    </li>
                    <li class="page-item">
                        <button
                            class="page-link"
                            (click)="changePage(page + 1)"
                        >
                            >>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
